body {
    background-color: black;
}

.PageHeading{
 font-weight: bold;
 font-size:50px;
 text-align: center;
 color: rgb(196, 182, 209);
}


.uniform{
    width: 80%;
    margin-left: 150px;
}


.exponential{
    width: 80%;
    margin-left: 150px;
}


.gamma{
    width: 80%;
    margin-left: 150px;
}

.weibull{
    width: 80%;
    margin-left: 150px;
}


.normal{
    width: 80%;
    margin-left: 150px;
}


.lognormal{
    width: 80%;
    margin-left: 150px;
}


.beta{
    width: 80%;
    margin-left: 150px;
}

.pearson{
    width: 80%;
    margin-left: 150px;
}


.logLogistics{
    width: 80%;
    margin-left: 150px;
}


.johnson{
    width: 80%;
    margin-left: 150px;
}




